html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background: url('../img/background.jpg');
  background-size: cover;
}

#container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

$primary-color: #7CB342;

a {
  color: $primary-color;
  font-weight: bold;
  text-decoration: none;
}

#card {
  height: 50%;
  width: 70%;
  background-color: #ffffff;
  color: $primary-color;
  border-radius: 2px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  
  .card-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    .lang-switcher {
      $size: 36px;
      width: $size;
      height: $size;
      line-height: $size;
      border-radius: 50%;
      border: 2px solid $primary-color;
      text-align: center;
      text-transform: capitalize;
      margin: 0 6px;
      background-color: #ffffff;
      padding: 0;
      color: $primary-color;
      font-size: .9em;
      cursor: pointer;
      outline: none;
      
      
      &:hover {
        border-color: lighten($primary-color, 5%);
        color: lighten($primary-color, 5%);
      }
      
      &.active {
        background-color: $primary-color;
        color: #fff;
        &:hover {
          background-color: lighten($primary-color, 5%);
        }
      }
    }
  }
  
  .card-body {
    padding: 24px 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    
    .info {
      flex: 0 0 60%;
      
      .info-position {
        font-weight: 300;
      }
      .info-name {
        position: relative;
        font-size: 2.5em;
        font-weight: 700;
        color: rgba(0, 0, 0, .5);
      }
      .info-intro {
        color: rgba(0, 0, 0, .5);
      }
    }
    a.call-to-action {
      margin: 8px 0;
      padding: 8px 16px;
      border-radius: 2px;
      background-color: $primary-color;
      color: #FFFFFF;
      font-weight: 300;
      display: inline-block;
      transition: all .2s;
      
      &:hover {
        // background-color: lighten($primary-color, 5%);
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
      }
    }
    .avatar {
      
    }
  }
  
  .card-footer {
    a {
      padding: 0px 8px;
    }
  }
  
  span.highlight {
    color: $primary-color;
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: $primary-color;
  pointer-events: none;

  animation: ripple-animation 1s cubic-bezier(.55, 0, .1, 1);
  animation-fill-mode: forwards;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}

.lang-wrapper {
  position: relative;
}
.lang-content.ng-enter {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s cubic-bezier(.55, 0, .1, 1);
}
.lang-content.ng-enter.ng-enter-active {
  opacity: 1;
}
.lang-content.ng-leave {
  opacity: 1;
  transition: opacity 1s cubic-bezier(.55, 0, .1, 1);
}
.lang-content.ng-leave.ng-leave-active {
  opacity: 0;
}
